<div id="cancelModal" class="modal">
  <div class="modal-card">
    <h3 style="margin-bottom: 5px;">Canceling Reservation...</h3>
    <p>Are you sure?</p>

    <div class="modal-actions">
      <button id="cancelCancel" class="btn-cancel-modal">No</button>
      <button id="confirmCancel" class="btn-confirm-modal">Yes, Cancel</button>
    </div>
  </div>
</div>
