<div id="deleteModal" class="modal">
  <div class="modal-card">
    <h3 style="margin-bottom: 5px;">Deleting Account...</h3>
    <p>Are you sure?</p>

    <div class="modal-actions">
      <button id="cancelDelete" class="btn-cancel-modal">No</button>
      <button id="confirmDelete" class="btn-confirm-modal">Yes, Delete</button>
    </div>
  </div>
</div>
