<div id="viewDetailsModal" class="modal">
  <div class="modal-card-2">
      <div class="reservation-header">
        <h3 id="detailTitle">Laboratory - Seat</h3>
        <span id="detailStatus" class="status-badge completed">Status</span>
      </div>

      <div class="detail-item">
        <span class="detail-label">Reservation ID:</span>
        <span id="detailId" class="detail-value"></span>
      </div>

      <div class="detail-item">
        <span class="detail-label">Name:</span>
        <span id="detailName" class="detail-value"></span>
      </div>

      <div class="detail-item">
        <span class="detail-label">Reserved on:</span>
        <span id="detailReserved" class="detail-value"></span>
      </div>

      <div class="detail-item">
        <span class="detail-label">Arrived on:</span>
        <span id="detailArrived" class="detail-value"></span>
      </div>

      <div class="detail-item">
        <span class="detail-label">Date:</span>
        <span id="detailDate" class="detail-value"></span>
      </div>
      
      <div class="detail-item">
        <span class="detail-label">Start Time:</span>
        <span id="detailStartTime" class="detail-value"></span>
      </div>
      <div class="detail-item">
        <span class="detail-label">End Time:</span>
        <span id="detailEndTime" class="detail-value"></span>
      </div>

      <div class="detail-item">
        <span class="detail-label">Laboratory Technician:</span>
        <span id="detailTech" class="detail-value"></span>
      </div>

      <div style="margin-top:20px; text-align:center;">
        <button id="closeDetails" class="btn-cancel-register" style="border:none; background:none;">Back</button>
      </div>
  </div>

</div>
